.docRow {
    border: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
    padding: 2rem !important;
    &:nth-child(1) {
        border-bottom: 1px solid black;
    }
    &:first-child {
        border-top: 1px solid black;
    }
}

.cell {
    &.hoverable {
        &:hover {
            background: rgba(30, 30, 30, 0.05);
        }
    }
    .cellContent {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
}

.cellLink {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
}